<a href="https://colab.research.google.com/github/SuwareeThammakoonsate/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###โจทย์
Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้

* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))
ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ

จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))
(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

###รายชื่อสมาชิกภายในกลุ่ม

1. นางสาวกัลยารัตน์ แสนสมบัติ 623020513-7
2. นางสาววัชราภรณ์ นามมุงคุณ 623020535-7
3. สุวรีย์ ธรรมคูณเศรษฐ์ 623020735-9

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #os เอาไว้จัดการไฟล์และ path

In [4]:
path = '/content/drive/My Drive/DataViz22_data'

In [5]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'))

In [6]:
hospital = os.path.join(path,'hospital_list.xlsx')
hospital = pd.read_excel(hospital)

##ข้อมูล alldb

In [7]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

##ข้อมูล hospital

In [8]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### Data Pre-Processing

####เลือก Column ที่ต้องการใช้งาน

In [9]:
alldb2 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title']] 
alldb2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed
...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed

####ตรวจสอบค่า Missing ข้อมูล alldb

In [10]:
alldb2.isnull().any()

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
title           True
dtype: bool

### ตัดค่า Missing โดยการ .dropna()

In [11]:
alldb3 = alldb2.dropna()
alldb3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz,data is not completed

In [12]:
alldb3.shape #ตรวจสอบขนาดของตาราง

(38237, 10)

#### คำนวณหาข้อมูลที่หายไป

In [13]:
removes = alldb2.shape[0] - alldb3.shape[0] 
removes

1798

In [14]:
(removes/alldb2.shape[0])*100

4.491070313475709

จากการคำนวณพบว่าข้อมูลที่หายได้เท่ากับ 1372 คิดเป็น 3.427001373797927 %

In [15]:
alldb3.isnull().any() #ไม่มีค่า missing แล้ว

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
dtype: bool

#### เช็คtype ของข้อมูล

In [16]:
alldb3.dtypes

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
title           object
dtype: object

####แก้ไข user, site, ov และPartitionKey เป็นตัวเลข 5 หลัก

In [17]:
kk1=list() ## กำหนดให้เป็น list ในการเติมค่าloop
for each_row in alldb3.iterrows(): ## ทำการวนลูปในแถว
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไขให้ user มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['user']) <= '99999' : #ถ้า user มีค่า น้อยกว่า 100000
          kk1.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไป
        elif str(each_row[1]['user']) >= '99999' : #ถ้า user มีค่า มากกว่า 100000
            kk1.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน list
    else:
        kk1.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน list

alldb3[kk1] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [18]:
data1 = alldb3[kk1]

In [19]:
set(data1['user'])

{'61806',
 '21010',
 '00217',
 '87394',
 '80979',
 '12022',
 '83733',
 '58993',
 '71152',
 '00291',
 '20215',
 '53045',
 '17974',
 '25403',
 '74378',
 '00034',
 '00315',
 '63429',
 '00024',
 '44199',
 '24179',
 '74345',
 '00042',
 '49782',
 '76096',
 '92747',
 '00941',
 '20847',
 '19575',
 '26773',
 '51689',
 '88351',
 '03949',
 '74289',
 '02990',
 '70492',
 '14891',
 '12413',
 '46597',
 '03381',
 '31534',
 '27732',
 '30767',
 '62962',
 '07203',
 '76851',
 '19411',
 '94558',
 '99475',
 '39448',
 '87029',
 '89837',
 '18865',
 '74951',
 '69566',
 '00033',
 '19559',
 '30481',
 '06316',
 '39529',
 '00008',
 '07556',
 '73946',
 '00172',
 '52912',
 '38463',
 '43791',
 '45914',
 '06655',
 '73225',
 '32200',
 '53751',
 '75487',
 '87536',
 '82277',
 '34210',
 '04857',
 '01883',
 '00045',
 '10194',
 '03831',
 '98290',
 '03338',
 '42055',
 '92756',
 '34169',
 '25478',
 '30431',
 '19624',
 '17277',
 '00157',
 '39539',
 '16630',
 '04387',
 '95668',
 '16428',
 '00126',
 '66780',
 '41042',
 '86601',
 '37140',
 '45485',
 '61605',
 '02913',
 '40551',
 '05019',
 '00183',
 '37728',
 '03308',
 '54974',
 '23796',
 '25331',
 '08734',
 '10673',
 '70957',
 '77688',
 '00307',
 '81293',
 '90154',
 '23596',
 '28977',
 '00074',
 '61552',
 '10992',
 '05228',
 '61320',
 '06436',
 '54781',
 '38422',
 '55873',
 '31229',
 '00134',
 '72364',
 '73772',
 '35942',
 '85702',
 '19250',
 '54932',
 '05182',
 '41340',
 '58271',
 '04325',
 '51065',
 '00277',
 '6724-',
 '51568',
 '54281',
 '79001',
 '86758',
 '18737',
 '86542',
 '05151',
 '22545',
 '94538',
 '22692',
 '87067',
 '38771',
 '22099',
 '81724',
 '31401',
 '83900',
 '24641',
 '45736',
 '46415',
 '99734',
 '85379',
 '34791',
 '03409',
 '25219',
 '85989',
 '04055',
 '77978',
 '81570',
 '37645',
 '09226',
 '89493',
 '65675',
 '00047',
 '28992',
 '83276',
 '78231',
 '84479',
 '14390',
 '00300',
 '00117',
 '77782',
 '14884',
 '62334',
 '15971',
 '26811',
 '19855',
 '00302',
 '10691',
 '00305',
 '00176',
 '56326',
 '41182',
 '00115',
 '46775',
 '65733',
 '99288',
 '00215',
 '87697',
 '77509',
 '09188',
 '00299',
 '98080',
 '00188',
 '00235',
 '76105',
 '20827',
 '80511',
 '00211',
 '02784',
 '81472',
 '34331',
 '45752',
 '78257',
 '20951',
 '25199',
 '61486',
 '66386',
 '31755',
 '85753',
 '16321',
 '61218',
 '00197',
 '00079',
 '55075',
 '05047',
 '48255',
 '48514',
 '38727',
 '72938',
 '84495',
 '05091',
 '77665',
 '37186',
 '06271',
 '03663',
 '65388',
 '52131',
 '60879',
 '46481',
 '30024',
 '39965',
 '23675',
 '92893',
 '03523',
 '77358',
 '00317',
 '24501',
 '12378',
 '30311',
 '00308',
 '00149',
 '54538',
 '17790',
 '80067',
 '54100',
 '05219',
 '03080',
 '55415',
 '68317',
 '50577',
 '02693',
 '32171',
 '68006',
 '97290',
 '00214',
 '75771',
 '16604',
 '90888',
 '50063',
 '41301',
 '05368',
 '15980',
 '78960',
 '33219',
 '70490',
 '00169',
 '04483',
 '29485',
 '80382',
 '00022',
 '00206',
 '83303',
 '96417',
 '37216',
 '71813',
 '67400',
 '52180',
 '26469',
 '00041',
 '53151',
 '80317',
 '03500',
 '53333',
 '01068',
 '81095',
 '04854',
 '93726',
 '73038',
 '24986',
 '04991',
 '96099',
 '38381',
 '03431',
 '48962',
 '49322',
 '00052',
 '07427',
 '91645',
 '19699',
 '87181',
 '56821',
 '64385',
 '00002',
 '00116',
 '00007',
 '27589',
 '90770',
 '00051',
 '71791',
 '00313',
 '87374',
 '22804',
 '32831',
 '84374',
 '37228',
 '98551',
 '39537',
 '00015',
 '86547',
 '74861',
 '50047',
 '02728',
 '08011',
 '57398',
 '79322',
 '14988',
 '10695',
 '23554',
 '45729',
 '79590',
 '66205',
 '02087',
 '32591',
 '63485',
 '31582',
 '52724',
 '45641',
 '88135',
 '08777',
 '39524',
 '09006',
 '55865',
 '89475',
 '85504',
 '76486',
 '37607',
 '10405',
 '58668',
 '49596',
 '58814',
 '82954',
 '04402',
 '95193',
 '19800',
 '65321',
 '04347',
 '00287',
 '79834',
 '22244',
 '02647',
 '48908',
 '00209',
 '49791',
 '87733',
 '61325',
 '02471',
 '79493',
 '86271',
 '50373',
 '23049',
 '33739',
 '81621',
 '14505',
 '10724',
 '70059',
 '00200',
 '08818',
 '48069',
 '85737',
 '13088',
 '00020',
 '02230',
 '63274',
 '19903',
 '24559',
 '76386',
 '14455',
 '61359',
 '51474',
 '14835',
 '79620',
 '60887',
 '41951',
 '24258',
 '96730',
 '88942',
 '00010',
 '70281',
 '68805',
 '45884',
 '64810',
 '45846',
 '06079',
 '77645',
 '05374',
 '00161',
 '12723',
 '31792',
 '37914',
 '29051',
 '40059',
 '62241',
 '76475',
 '67864',
 '63381',
 '21955',
 '31114',
 '61587',
 '46767',
 '35512',
 '85879',
 '04281',
 '90571',
 '93020',
 '47135',
 '00201',
 '63471',
 '20380',
 '71327',
 '47607',
 '63284',
 '00212',
 '37091',
 '34705',
 '41000',
 '27902',
 '10982',
 '65301',
 '63098',
 '27678',
 '00032',
 '00146',
 '31143',
 '75910',
 '54679',
 '23010',
 '83934',
 '00128',
 '50332',
 '00409',
 '80481',
 '03731',
 '48956',
 '21831',
 '73876',
 '50004',
 '77249',
 '47354',
 '77811',
 '41026',
 '02853',
 '65555',
 '09269',
 '46566',
 '49103',
 '00155',
 '24563',
 '00127',
 '00285',
 '46622',
 '42465',
 '00140',
 '99992',
 '61591',
 '90872',
 '00136',
 '26082',
 '57099',
 '02759',
 '35178',
 '27143',
 '00304',
 '68081',
 '42120',
 '31577',
 '29379',
 '26043',
 '00078',
 '60581',
 '95104',
 '16970',
 '91811',
 '39103',
 '25683',
 '61095',
 '24032',
 '83771',
 '85433',
 '92648',
 '73496',
 '03535',
 '92431',
 '00271',
 '00216',
 '75519',
 '95927',
 '77994',
 '00748',
 '06385',
 '90257',
 '57228',
 '28731',
 '11159',
 '00073',
 '80673',
 '75251',
 '48042',
 '00059',
 '83937',
 '06277',
 '36994',
 '01861',
 '49268',
 '46951',
 '76246',
 '55300',
 '09820',
 '70610',
 '01882',
 '05304',
 '14387',
 '94392',
 '42468',
 '22119',
 '22456',
 '00141',
 '00280',
 '63306',
 '00194',
 '26445',
 '00031',
 '67972',
 '53076',
 '50756',
 '25221',
 '00318',
 '00120',
 '19322',
 '63753',
 '00154',
 '18513',
 '53579',
 '71891',
 '50900',
 '52921',
 '30977',
 '44888',
 '38778',
 '74747',
 '90612',
 '02091',
 '19578',
 '28890',
 '00281',
 '22377',
 '80374',
 '47615',
 '00130',
 '34988',
 '63852',
 '62059',
 '69037',
 '43228',
 '19632',
 '62070',
 '52219',
 '18733',
 '19364',
 '91947',
 '18041',
 '22824',
 '00139',
 '67450',
 '52481',
 '24994',
 '98703',
 '73158',
 '05063',
 '00252',
 '55911',
 '03217',
 '65775',
 '33664',
 '00076',
 '62517',
 '97505',
 '62443',
 '60688',
 '50624',
 '02396',
 '46897',
 '46732',
 '14767',
 '93527',
 '38518',
 '65664',
 '51795',
 '46960',
 '67280',
 '93671',
 '24404',
 '54761',
 '89081',
 '84187',
 '92691',
 '64671',
 '32666',
 '81057',
 '16820',
 '05038',
 '76339',
 '65995',
 '53330',
 '98530',
 '60147',
 '92948',
 '00021',
 '00027',
 '77862',
 '44805',
 '99245',
 '93307',
 '31982',
 '47494',
 '00293',
 '62616',
 '46643',
 '51310',
 '53943',
 '55692',
 '31994',
 '10105',
 '22635',
 '26859',
 '34096',
 '00352',
 '21432',
 '08741',
 '36692',
 '26459',
 '83377',
 '20395',
 '18873',
 '06855',
 '00196',
 '05211',
 '09259',
 '51175',
 '76299',
 '63865',
 '92073',
 '00112',
 '49901',
 '00125',
 '19273',
 '16162',
 '59305',
 '20452',
 '62459',
 '01428',
 '28241',
 '63564',
 '26477',
 '00048',
 '39079',
 '76803',
 '86474',
 '53616',
 '02825',
 '00233',
 '18318',
 '00565',
 '74964',
 '67409',
 '23231',
 '89195',
 '37732',
 '49178',
 '37826',
 '31428',
 '42173',
 '00121',
 '18527',
 '82951',
 '98519',
 '24229',
 '80847',
 '29094',
 '97281',
 '00298',
 '68037',
 '48298',
 '40577',
 '35605',
 '19875',
 '91917',
 '77726',
 '84055',
 '96081',
 '80463',
 '05590',
 '80253',
 '37231',
 '82777',
 '83257',
 '89576',
 '49424',
 '95609',
 '00324',
 '76459',
 '60953',
 '42682',
 '59266',
 '63880',
 '46291',
 '11569',
 '62105',
 '00035',
 '16193',
 '46662',
 '00171',
 '33643',
 '45593',
 '53920',
 '27658',
 '75347',
 '44018',
 '74335',
 '25804',
 '65390',
 '66155',
 '25083',
 '25659',
 '44502',
 '52902',
 '88337',
 '00292',
 '84063',
 '12561',
 '39726',
 '73204',
 '16971',
 '74375',
 '40553',
 '82685',
 '00267',
 '23885',
 '33081',
 '49387',
 '00150',
 '15930',
 '25179',
 '00223',
 '00133',
 '99376',
 '13406',
 '12023',
 '71805',
 '18385',
 '11816',
 '21378',
 '36358',
 '87541',
 '01762',
 '72451',
 '57066',
 '25128',
 '28330',
 '91438',
 '00159',
 '70810',
 '03649',
 '37408',
 '34829',
 '85934',
 '92120',
 '16725',
 '00065',
 '62941',
 '37151',
 '14088',
 '16247',
 '00582',
 '38614',
 '75911',
 '37127',
 '33791',
 '33251',
 '00147',
 '00016',
 '42380',
 '79028',
 '95631',
 '89329',
 '30059',
 '79920',
 '00265',
 '97860',
 '36001',
 '94019',
 '00025',
 '59144',
 '31196',
 '73302',
 '84375',
 '74414',
 '44845',
 '48016',
 '14037',
 '72988',
 '03263',
 '98474',
 '84540',
 '30660',
 '73233',
 '52678',
 '05113',
 '31208',
 '00781',
 '83943',
 '26957',
 '71417',
 '00756',
 '53980',
 '19762',
 '00036',
 '00353',
 '31762',
 '14189',
 '00966',
 '08242',
 '20454',
 '19265',
 '31133',
 '55430',
 '23630',
 '98126',
 '21860',
 '02639',
 '95935',
 '17777',
 '01024',
 '86299',
 '00351',
 '00122',
 '11611',
 '03100',
 '52350',
 '00343',
 '73000',
 '59326',
 '72486',
 '05291',
 '52210',
 '46970',
 '98509',
 '00210',
 '86133',
 '89290',
 '81197',
 '00312',
 '00017',
 '99884',
 '94758',
 '00013',
 '82054',
 '03953',
 '63091',
 '74523',
 '10460',
 '45531',
 '16085',
 '33503',
 '00545',
 '00132',
 '00320',
 '54544',
 '47567',
 '67961',
 '99991',
 '54214',
 '49308',
 '32622',
 '28186',
 '33869',
 '95161',
 '37249',
 '96292',
 '58845',
 '01636',
 '18769',
 '60909',
 '59128',
 '00029',
 '18849',
 '00297',
 '17560',
 '15678',
 '01009',
 '00009',
 '12044',
 '39593',
 '01721',
 '18008',
 '00123',
 '08370',
 '78731',
 '19911',
 '67241',
 '00049',
 '17982',
 '96786',
 '02102',
 '28348',
 '74782',
 '86981',
 '00135',
 '73251',
 '63200',
 '01461',
 '70940',
 '00316',
 '98245',
 '49161',
 '15229',
 '00345',
 '81529',
 '00118',
 '23214',
 '60250',
 '74369',
 '00030',
 '00296',
 '96760',
 '43143',
 '00012',
 '77572',
 '30067',
 '05507',
 '29907',
 '47623',
 '04193',
 '31283',
 '96061',
 '63799',
 '66437',
 '91402',
 '28402',
 '87797',
 '22688',
 '27604',
 '53510',
 '73375',
 '11007',
 '16372',
 '82582',
 '72483',
 '21688',
 '73557',
 '88023',
 '14491',
 '04431',
 '25923',
 '43834',
 '71970',
 '38547',
 '05849',
 '97484',
 '71378',
 '38500',
 '76523',
 '59721',
 '73419',
 '25829',
 '00162',
 ...}

In [20]:
kk2=list() ## กำหนดให้เป็น list ในการเติมค่าloop
for each_row in data1.iterrows(): ## ทำการวนลูปในแถว
    if len(str(each_row[1]['site']))== 5 : #สร้างเงื่อนไขให้ site มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['site']) <= '99999' : #ถ้า site มีค่า น้อยกว่า 100000
          kk2.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไป
        elif str(each_row[1]['site']) >= '99999' : #ถ้า site มีค่า มากกว่า 100000
            kk2.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน list
    else:
        kk2.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน list

data1[kk2] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [21]:
data2 = data1[kk2]

In [22]:
set(data2['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '01151',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '28789',
 '99795'}

In [23]:
kk3=list() ## กำหนดให้เป็น list ในการเติมค่าloop
for each_row in data2.iterrows(): ## ทำการวนลูปในแถวของ data8
    if len(str(each_row[1]['PartitionKey']))== 5 : #สร้างเงื่อนไขให้ PartitionKey มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['PartitionKey']) <= '99999' : #ถ้า PartitionKey มีค่า น้อยกว่า 100000
          kk3.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไปใน MS
        elif str(each_row[1]['PartitionKey']) >= '99999' : #ถ้า PartitionKey มีค่า มากกว่า 100000
            kk3.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน list
    else:
        kk3.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน list

data2[kk3] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย

In [24]:
data3 = data2[kk3]

In [25]:
set(data3['PartitionKey'])

{'01141',
 '01470',
 '00069',
 '01019',
 '01525',
 '00512',
 '01293',
 '10962',
 '03062',
 '01681',
 '00609',
 '00250',
 '01430',
 '00217',
 '00650',
 '02184',
 '00901',
 '00639',
 '01853',
 '00529',
 '00629',
 '00760',
 '05966',
 '06039',
 '04645',
 '00218',
 '02623',
 '00291',
 '01532',
 '00178',
 '05327',
 '00366',
 '04619',
 '00721',
 '01897',
 '04686',
 '01827',
 '00034',
 '00315',
 '00782',
 '01533',
 '01107',
 '02766',
 '02557',
 '03003',
 '03287',
 '00498',
 '01451',
 '05125',
 '00024',
 '08979',
 '01578',
 '01046',
 '02731',
 '00481',
 '01775',
 '00934',
 '00234',
 '00042',
 '01781',
 '02904',
 '01877',
 '00444',
 '00180',
 '01960',
 '00941',
 '01210',
 '00264',
 '01326',
 '03417',
 '02004',
 '01984',
 '01250',
 '00912',
 '01389',
 '00780',
 '00613',
 '01666',
 '02495',
 '03312',
 '01299',
 '00747',
 '02456',
 '01535',
 '03949',
 '01436',
 '03199',
 '00195',
 '03326',
 '00974',
 '02154',
 '04189',
 '02990',
 '02144',
 '01296',
 '08383',
 '01216',
 '00090',
 '00621',
 '03381',
 '02076',
 '01000',
 '03158',
 '01714',
 '00500',
 '03030',
 '05259',
 '00982',
 '00446',
 '03504',
 '01352',
 '04186',
 '03964',
 '01358',
 '02133',
 '01821',
 '01927',
 '01232',
 '00744',
 '00522',
 '02926',
 '00422',
 '02352',
 '02336',
 '00179',
 '05117',
 '03366',
 '05121',
 '00033',
 '00769',
 '01365',
 '00885',
 '00008',
 '00172',
 '02773',
 '00571',
 '04104',
 '00892',
 '00970',
 '01817',
 '02836',
 '01084',
 '00432',
 '00572',
 '03614',
 '03031',
 '01194',
 '02256',
 '01172',
 '01357',
 '01409',
 '08962',
 '05227',
 '03454',
 '00860',
 '04663',
 '01658',
 '08970',
 '01265',
 '01392',
 '01883',
 '02404',
 '00812',
 '02550',
 '00045',
 '02760',
 '02544',
 '01325',
 '01606',
 '01402',
 '02977',
 '10978',
 '01303',
 '02173',
 '00465',
 '00109',
 '03338',
 '03362',
 '04183',
 '08925',
 '04661',
 '08069',
 '01334',
 '03254',
 '00106',
 '00157',
 '00826',
 '01830',
 '02006',
 '00440',
 '00745',
 '08954',
 '02016',
 '01983',
 '02164',
 '00837',
 '00759',
 '10987',
 '01848',
 '04117',
 '01865',
 '05139',
 '00126',
 '03152',
 '00710',
 '06059',
 '01152',
 '02930',
 '01828',
 '01717',
 '10969',
 '03231',
 '01217',
 '02257',
 '01909',
 '01689',
 '00926',
 '00539',
 '01063',
 '02409',
 '03094',
 '01716',
 '02066',
 '00903',
 '02062',
 '02809',
 '00183',
 '02036',
 '08900',
 '00828',
 '00084',
 '01559',
 '02244',
 '00990',
 '02423',
 '02397',
 '08950',
 '09041',
 '03511',
 '00307',
 '00876',
 '02841',
 '03165',
 '01628',
 '02632',
 '00418',
 '00074',
 '00108',
 '02367',
 '05107',
 '01081',
 '10992',
 '02178',
 '01105',
 '01304',
 '02439',
 '00589',
 '05228',
 '00537',
 '00515',
 '01355',
 '01469',
 '00962',
 '00694',
 '00855',
 '00649',
 '01941',
 '02670',
 '04696',
 '00648',
 '06182',
 '11000',
 '08936',
 '04143',
 '01605',
 '01994',
 '00134',
 '02746',
 '01891',
 '01794',
 '01734',
 '05382',
 '01976',
 '02254',
 '02496',
 '01191',
 '02399',
 '00395',
 '05092',
 '00949',
 '04730',
 '01140',
 '02005',
 '02000',
 '00277',
 '00365',
 '02907',
 '00552',
 '01490',
 '02824',
 '05244',
 '01382',
 '01685',
 '05131',
 '01421',
 '02592',
 '06020',
 '00703',
 '00199',
 '00628',
 '01165',
 '01267',
 '06029',
 '00799',
 '00186',
 '09029',
 '00070',
 '06185',
 '00924',
 '08521',
 '02013',
 '01476',
 '00610',
 '02869',
 '00311',
 '03122',
 '01203',
 '03074',
 '01233',
 '09012',
 '00969',
 '01199',
 '02147',
 '01447',
 '04116',
 '00814',
 '03065',
 '01812',
 '05958',
 '01557',
 '06000',
 '02067',
 '01238',
 '02622',
 '01890',
 '00943',
 '03552',
 '01014',
 '05196',
 '01949',
 '02197',
 '08981',
 '00644',
 '00965',
 '01411',
 '02765',
 '02491',
 '02686',
 '01843',
 '01746',
 '00367',
 '00762',
 '04649',
 '03008',
 '00239',
 '04664',
 '05132',
 '04683',
 '05153',
 '00505',
 '01707',
 '05292',
 '02580',
 '00047',
 '00067',
 '00681',
 '02756',
 '01767',
 '02997',
 '04623',
 '03109',
 '00722',
 '00734',
 '02319',
 '00564',
 '00935',
 '00300',
 '00175',
 '01041',
 '00117',
 '05995',
 '01387',
 '02442',
 '01287',
 '01669',
 '00302',
 '02035',
 '05981',
 '00305',
 '02103',
 '00176',
 '00384',
 '03265',
 '01884',
 '08993',
 '00538',
 '01062',
 '00115',
 '00254',
 '00329',
 '01616',
 '00556',
 '01833',
 '04084',
 '01996',
 '00215',
 '04654',
 '00976',
 '02978',
 '02777',
 '00672',
 '02778',
 '03224',
 '01507',
 '06045',
 '00916',
 '01539',
 '05727',
 '00299',
 '00188',
 '08964',
 '00235',
 '02803',
 '00698',
 '00836',
 '00248',
 '00211',
 '04620',
 '00844',
 '03107',
 '02784',
 '00709',
 '01058',
 '00262',
 '04624',
 '10991',
 '00229',
 '04072',
 '10996',
 '03386',
 '05093',
 '00087',
 '02854',
 '01444',
 '01049',
 '03317',
 '00431',
 '02117',
 '06014',
 '00603',
 '00336',
 '01693',
 '01207',
 '02934',
 '04681',
 '02437',
 '05982',
 '09039',
 '00197',
 '00079',
 '01916',
 '03071',
 '02040',
 '03126',
 '02202',
 '01464',
 '02201',
 '03230',
 '01725',
 '11005',
 '03363',
 '00372',
 '01120',
 '00099',
 '02979',
 '01880',
 '02861',
 '03058',
 '05091',
 '00586',
 '04685',
 '00241',
 '01527',
 '09033',
 '01030',
 '06015',
 '03078',
 '09040',
 '02375',
 '01255',
 '01777',
 '00599',
 '01130',
 '01589',
 '02586',
 '01042',
 '02377',
 '00243',
 '02534',
 '04004',
 '04688',
 '00317',
 '01646',
 '04782',
 '01859',
 '05721',
 '00308',
 '01898',
 '00149',
 '00920',
 '03546',
 '05992',
 '09025',
 '02050',
 '00057',
 '00560',
 '00620',
 '00971',
 '01549',
 '01668',
 '02882',
 '02944',
 '01584',
 '00997',
 '05219',
 '00712',
 '00531',
 '01774',
 '00548',
 '01200',
 '02163',
 '05967',
 '02860',
 '00486',
 '00684',
 '00870',
 '04073',
 '05980',
 '01593',
 '00214',
 '00261',
 '01202',
 '08944',
 '02204',
 '08938',
 '01806',
 '05986',
 '04631',
 '01007',
 '01070',
 '04655',
 '01424',
 '01569',
 '08913',
 '02843',
 '02976',
 '01514',
 '01778',
 '04187',
 '00361',
 '10973',
 '00169',
 '01380',
 '08969',
 '00022',
 '00206',
 '01378',
 '01624',
 '01798',
 '00839',
 '01615',
 '01235',
 '00583',
 '02999',
 '01243',
 '00041',
 '00388',
 '02249',
 '00533',
 '01515',
 '03505',
 '00928',
 '00888',
 '03392',
 '01346',
 '01663',
 '01869',
 '05105',
 '03500',
 '01149',
 '02683',
 '01068',
 '02985',
 '04641',
 '00100',
 '02224',
 '02417',
 '02821',
 '04651',
 '01497',
 '05719',
 '03933',
 '00833',
 '06729',
 '00915',
 '02056',
 '00245',
 '00938',
 '01319',
 '02206',
 '05209',
 '00052',
 '01288',
 '02669',
 '02470',
 '00726',
 '02486',
 '00105',
 '00540',
 '00737',
 '08921',
 '01595',
 '01554',
 '01315',
 '01144',
 '02288',
 '00946',
 '02429',
 '04691',
 '05310',
 '02619',
 '00116',
 '00002',
 '00007',
 '04687',
 '01736',
 '00051',
 '00806',
 '02937',
 '03378',
 '01036',
 '03240',
 '02589',
 '00313',
 '00693',
 '01573',
 '04054',
 '02710',
 '00561',
 '00986',
 '02883',
 '06023',
 '01310',
 '01963',
 '03545',
 '01739',
 '00896',
 '00015',
 '00749',
 '02365',
 '00777',
 '02080',
 '01163',
 '00445',
 '02728',
 '04071',
 '00704',
 '02024',
 '03142',
 '00929',
 '01951',
 '02845',
 '03104',
 '02819',
 '08973',
 '02214',
 '00950',
 '01033',
 '01680',
 '04127',
 '00923',
 '02494',
 '01744',
 '00356',
 '09006',
 '01894',
 '00110',
 '02284',
 '02517',
 '01347',
 '01096',
 '00457',
 '00238',
 '00917',
 '02045',
 '02874',
 '01892',
 '09036',
 '03248',
 '01201',
 '02012',
 '01899',
 '00452',
 '00287',
 '00825',
 '02680',
 '02489',
 '01308',
 '02647',
 '00707',
 '01208',
 '00077',
 '00209',
 '03708',
 '01433',
 '03826',
 '00532',
 '03121',
 '01397',
 '02152',
 '01438',
 '00360',
 '00525',
 '01043',
 '06033',
 '01486',
 '01617',
 '00845',
 '01064',
 '00339',
 '05341',
 '01162',
 '09005',
 '03039',
 '05245',
 '04678',
 '03724',
 '01990',
 '02918',
 '06043',
 '01225',
 '02139',
 '02253',
 '10967',
 '01187',
 '01692',
 '00200',
 '01145',
 '02166',
 '02292',
 '00818',
 '00020',
 '02230',
 '03321',
 '00488',
 '02713',
 '09038',
 '01139',
 '01379',
 '08935',
 '02030',
 '06062',
 '02949',
 '02616',
 '01965',
 '08945',
 '04652',
 '08987',
 '04622',
 '01345',
 '00547',
 '00754',
 '01279',
 '00427',
 '02389',
 '00775',
 '03222',
 '00093',
 '08994',
 '00010',
 '01335',
 '02538',
 '02726',
 '05717',
 '02403',
 '01364',
 '01432',
 '01010',
 '08988',
 '01363',
 '01925',
 '00068',
 '01720',
 '02610',
 '05120',
 '09016',
 '00772',
 '01934',
 '01154',
 '01920',
 '00161',
 '05248',
 '02009',
 '03035',
 '01986',
 '01048',
 '01123',
 '00872',
 '01178',
 '08959',
 '00550',
 '02181',
 '01596',
 '01836',
 '03331',
 '04662',
 '03725',
 '02664',
 '03464',
 '00255',
 '00448',
 '01001',
 '08067',
 '02190',
 '01450',
 '01773',
 '05099',
 '00569',
 '01283',
 '02767',
 '05987',
 '01029',
 '02741',
 '02484',
 '00821',
 '01188',
 '03072',
 '03229',
 '00201',
 '01302',
 '01502',
 '02175',
 '06722',
 '00189',
 '02236',
 '00577',
 '00773',
 '02652',
 '03141',
 '02613',
 '04022',
 '01466',
 '02768',
 '00212',
 '02477',
 '01385',
 '00058',
 '01446',
 '01929',
 '02812',
 '10982',
 '00932',
 '00323',
 '05109',
 '05129',
 '00454',
 '03403',
 '01396',
 '01278',
 '01785',
 '00032',
 '00146',
 '02994',
 '04017',
 '00461',
 '02337',
 '00913',
 '03356',
 '00128',
 '03541',
 '02844',
 '00714',
 '01356',
 '04179',
 '00409',
 '03099',
 '00523',
 '02119',
 '05115',
 '01035',
 '03150',
 '00874',
 '01887',
 '01317',
 '02910',
 '02379',
 '02398',
 '00944',
 '11003',
 '01027',
 '02008',
 '01269',
 '01748',
 '05323',
 '08967',
 '02291',
 '02690',
 '01482',
 '04638',
 '00075',
 '04793',
 '02973',
 '00662',
 '01867',
 '01359',
 '01016',
 '03334',
 '01117',
 '02968',
 '00998',
 '01556',
 '02497',
 '01483',
 '00374',
 '00508',
 '00155',
 '05989',
 '03549',
 '00127',
 '01912',
 '01275',
 '01597',
 '02915',
 '04059',
 '00285',
 '00551',
 '00140',
 '01044',
 '01100',
 '01903',
 '02205',
 '00136',
 '01495',
 '01522',
 '01338',
 '03101',
 '00670',
 '02759',
 '10995',
 '01854',
 '00304',
 '01126',
 '00467',
 '01170',
 '02401',
 '01900',
 '00379',
 '00811',
 '00078',
 '02789',
 '08421',
 '01167',
 '01101',
 '00349',
 '00797',
 '02079',
 '03066',
 '00815',
 '01608',
 '00790',
 '01327',
 '01453',
 '01878',
 '02482',
 '01462',
 '00779',
 '03400',
 '05998',
 '06028',
 '01204',
 '03934',
 '08911',
 '01028',
 '02349',
 '00956',
 '04690',
 '02472',
 '01649',
 '03512',
 '10984',
 ...}

#### แก้ไข ov เป็นตัวเลข มีค่าตั้งแต่ 0-4(0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [26]:
set(data3['ov'])

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

In [27]:
data4 = data3[data3['ov']!= 'ติดเชื้อ +2 ']   #ทำการลบค่าแปลกออก
data4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย

#### ทำให้ Time เป็น hh-mm-ss

In [28]:
data4['time'] = data4['time'].replace(':','-',regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#### Data เป็น YYYY-MM-DD

In [29]:
set(data4['date'])

{'2022-02-15',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05'}

####นำข้อมูล Title นำมากำหนดเพศ

In [30]:
data4 = data4.rename(columns={'title':'sex'})

In [31]:
set (data4['sex'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

####แก้ไขข้อมูล column sex

In [32]:
data4['sex'].replace ({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ไม่ระบุ',
 'น':'ไม่ระบุ',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ชาย',
 'พระ':'ชาย',
 'พระครุ':'ชาย',
 'พระปลัด':'ชาย',
 'พลฯ':'ไม่ระบุ',
 'ร.ต.':'ไม่ระบุ',
 'ร.ต.ต.':'ไม่ระบุ',
 'ร.ต.ท.':'ไม่ระบุ',
 'ร.ต.อ.':'ไม่ระบุ',
 'ว่าที่ ร.ต.':'ไม่ระบุ',
 'ว่าที่ ร.ท.':'ไม่ระบุ',
 'ว่าที่ร้อยตรี':'ไม่ระบุ',
 'ส.อ.':'ไม่ระบุ',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย',
 'เด็กหญิง':'หญิง'},inplace=True)

In [33]:
data4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),0,00001,หญิง
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),1,11003,หญิง
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),2,11005,ชาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),2,11006,หญิง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),0,11007,หญิง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย

## ข้อมูล hospital

In [34]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [35]:
hospital1 =  hospital[['hcode','name','zone_name','province','amphur','tambon','name5']] #เลือกคอลัมม์ที่ต้องการ
hospital1

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

#### ตรวจสอบค่า Missing

In [36]:
hospital1.isnull().any() #ข้อมูลมีค่า Missing

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

#### แก้ไข Missing ใน column name, zone_name, amphur, tambon และ name5

In [37]:
hospital1[hospital1['name'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
15453,26276,NaN,สาขาพื้นที่(สุราษฎร์ธานี),ชุมพร,เมืองชุมพร,NaN,คลินิกเอกชน

In [38]:
hospital1['name'] = hospital1['name'].fillna('คลินิกแห่งหนึ่ง') # แทนค่า NaN ด้วย คลินิกแห่งหนึ่ง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
hospital1[hospital1['zone_name'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
16800,40864,โรงพยาบาลสรรพสิทธิ์อินเตอร์,NaN,อุบลราชธานี,เมืองอุบลราชธานี,ในเมือง,โรงพยาบาลเอกชน
16803,41092,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองจานพัฒนา,NaN,นครราชสีมา,หนองบุญมาก,หนองบุนนาก,โรงพยาบาลส่งเสริมสุขภาพตำบล
16805,77609,หน่วยบริการปฐมภูมิหัวทุ่ง,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านเป็ด,หน่วยบริการปฐมภูมิ
16810,77651,โรงพยาบาลโคกโพธิ์ไชย,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านโคก,โรงพยาบาลทั่วไป

In [40]:
hospital1['zone_name'][16800] = 'สาขาพื้นที่(อุบลราชธานี)'    # แทนค่า NaN ด้วย สาขาพื้นที่(อุบลราชธานี)
hospital1['zone_name'][16803] = 'สาขาพื้นที่(นครราชสีมา)'    # แทนค่า NaN ด้วย สาขาพื้นที่(นครราชสีมา)
hospital1['zone_name'][16805] = 'สาขาพื้นที่(ขอนแก่น)'      # แทนค่า NaN ด้วย สาขาพื้นที่(ขอนแก่น)
hospital1['zone_name'][16810] = 'สาขาพื้นที่(ขอนแก่น)'      # แทนค่า NaN ด้วย สาขาพื้นที่(ขอนแก่น)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [41]:
hospital1[hospital1['amphur'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
15064,25733,สารีคลินิกการแพทย์,สาขาพื้นที่กรุงเทพมหานคร,กรุงเทพมหานคร,NaN,NaN,คลินิกเอกชน
15180,25852,คลินิกแพทย์สุเชต,สาขาพื้นที่(สุราษฎร์ธานี),ภูเก็ต,NaN,NaN,คลินิกเอกชน

In [42]:
hospital1['amphur'] = hospital1['amphur'].fillna('ไม่ระบุ')     # แทนค่า NaN ด้วย ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
hospital1[hospital1['tambon'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
22,00023,สำนักงานสาธารณสุขจังหวัดยโสธร,สาขาพื้นที่(อุบลราชธานี),ยโสธร,เมืองยโสธร,NaN,สำนักงานสาธารณสุขจังหวัด
55,00056,สำนักงานสาธารณสุขจังหวัดสุพรรณบุรี,สาขาพื้นที่(ราชบุรี),สุพรรณบุรี,เมืองสุพรรณบุรี,NaN,สำนักงานสาธารณสุขจังหวัด
95,00096,สำนักงานสาธารณสุขอำเภอท่าเรือ,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,ท่าเรือ,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
281,00282,สำนักงานสาธารณสุขอำเภอศีขรภูมิ,สาขาพื้นที่(นครราชสีมา),สุรินทร์,ศีขรภูมิ,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
286,00287,สำนักงานสาธารณสุขอำเภอพนมดงรัก,สาขาพื้นที่(นครราชสีมา),สุรินทร์,พนมดงรัก,NaN,สำนักงานสาธารณสุขอำเภอ/กิ่งอำเภอ
...,...,...,...,...,...,...,...
15533,26358,บุญส่งผดุงครรภ์,สาขาพื้นที่(สุราษฎร์ธานี),ชุมพร,ทุ่งตะโก,NaN,คลินิกเอกชน
16225,28011,คลินิกเวชกรรมวีรยุทธการแพทย์,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,NaN,คลินิกเอกชน
16538,28418,สายัณห์ผดุงครรภ์,สาขาพื้นที่(สุราษฎร์ธานี),นครศรีธรรมราช,ร่อนพิบูลย์,NaN,คลินิกเอกชน
16540,28427,คลินิกเด็กหมอประภัสสร,สาขาพื้นที่(สุราษฎร์ธานี),นครศรีธรรมราช,สิชล,NaN,คลินิกเอกชน
16801,40886,สำนักงานป้องกันควบคุมโรคที่ 8 จังหวัดอุดรธานี\...,08,อุดรธานี,เมืองอุดรธานี,NaN,ศูนย์บริการสาธารณสุข

In [44]:
hospital1['tambon'] = hospital1['tambon'].fillna('ไม่ระบุ')   # แทนค่า NaN ด้วย ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
hospital1[hospital1['name5'].isnull()]

,hcode,name,zone_name,province,amphur,tambon,name5
16474,28268,คลินิกนายแพทย์สันติ,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,ทะเลชุบศร,NaN
16484,28278,คลินิกหมอปาน,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,กกโก,NaN
16486,28280,คลินิกหมอวิภาวดี,สาขาพื้นที่(สระบุรี),ลพบุรี,เมืองลพบุรี,กกโก,NaN

In [46]:
hospital1['name5'][16474] = 'คลินิกเอกชน'     # แทนค่า NaN ด้วย คลินิกเอกชน
hospital1['name5'][16484] = 'คลินิกเอกชน'     # แทนค่า NaN ด้วย คลินิกเอกชน
hospital1['name5'][16486] = 'คลินิกเอกชน'     # แทนค่า NaN ด้วย คลินิกเอกชน

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
hospital1.isnull().any() #ไม่มีค่า MIsingg

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

#### รวมตารางข้อมูลเข้าด้วยกัน

In [48]:
data_M = data4.merge(hospital1,how='left',left_on='site',right_on='hcode')    
data_M

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,hcode,name,zone_name,province,amphur,tambon,name5
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),0,00001,หญิง,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37489,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),1,11003,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37490,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),2,11005,ชาย,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37491,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),2,11006,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37492,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),0,11007,หญิง,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน
37493,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,ชาย,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน

Warning: total number of rows (37494) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (37494) exceeds max_rows (20000). Limiting to first (20000) rows.

####ตรวจสอบค่า Missing

In [49]:
data_M.isnull().any() #ไม่มีค่า Missing

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
name5           False
dtype: bool

ข้อมูลไม่มีค่า Missing

In [50]:
removes1 = alldb3.shape[0] - data_M.shape[0]
print(f'size before drop = {alldb3.shape[0]}')
print(f'size after drop = {data_M.shape[0]}')
print(f'% from drop = {(removes1/alldb3.shape[0])*100}%')

size before drop = 38237
size after drop = 37494
% from drop = 1.943144075110495%

In [52]:
data_M.to_csv('Final_Exam_Dataviz.csv', encoding='utf-8')

In [54]:
data_M.to_csv(os.path.join(path,'Final_Exam_Dataviz.csv'))